.hero-section a {
  display: relative;         
  color: white; 
  text-decoration: none;   
  padding: 2px 4px;         
  border-radius: 4px;       
  transition: all 0.2s ease;
}


.hero-section p {        
  color: white; 
}

.btn-primary {
  background: var(--primary-500);
  color: white;
  right: 20px;
  display: inline-block;
  padding: var(--space-3) var(--space-6);
  border: none;
  border-radius: var(--radius-lg);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  position: absolute;
}

@media print {
  @page {
    size: A4;
    margin: 0mm;
    padding: 5mm;
  }


  .btn-primary {
    display: none;
  }

.hero-section {
     background: linear-gradient(135deg, var(--primary-500), var(--primary-700)) !important;
  }

  section {
    break-inside: avoid !important;
    page-break-inside: avoid !important;
  }
}

