.statusText{
  width: 376px; 
  font-size: var(--text-2xl);
  background-color: var(--primary-600);
  margin: auto;
  color: var(--neutral-50);
  padding: var(--space-5);
  text-align: center;
    border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
}


#gameBoard {
  width: 500px;
  height: 320px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cell {
  background-color: var(--primary-700);
  border: 2px solid var(--neutral-700);
  font-size: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 130px;
  width: 130px;
  color: var(--neutral-50);
    border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
}


div.buttonDivision{
display: flex;
justify-content: center;
gap: 12px;
}