.statusText{
  width: 376px; 
  font-size: var(--text-2xl);
  background-color: var(--primary-600);
  margin: auto;
  color: var(--neutral-50);
  padding: var(--space-5);
  text-align: center;
    border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
}


#gameBoard {
  width: 500px;
  height: 290px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cell {
  background-color: var(--primary-700);
  border: 2px solid var(--neutral-700);
  font-size: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 130px;
  width: 130px;
  color: var(--neutral-50);
    border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
}


div.buttonDivision{
display: flex;
justify-content: center;
gap: 12px;
}



.cell.X {
  background-color: rgb(112, 205, 228);   /* Blue for X */
}

.cell.O {
  background-color: rgb(61, 134, 208);   /* Red for O */
}

.scoreBoard{
  width: auto; 
  height: 30px;
  font-size: var(--text-lg);
  background-color: rgb(34, 163, 232);
  margin: auto;
  margin-bottom: 20px;
  color: var(--neutral-50);
    border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
  display: flex;
  justify-content: space-around; /* space between X and O */ 
}